/* Please tripe-newline different classes to read/edit code better -Hussein*/
:root{
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --accent: #0d47a1;
    --accent-light: #90caf9;
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}


html{
    background-color: #212121;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;

}


.title-div{
    justify-content: center;
    color: #212121;
    background-color: var(--border);
    padding: 7px;
    padding-left: 13x;
    padding-right: 13px;
    border: 1px var(--border);
    border-radius: 15px;
    /*width: 220px;*/
    width: fit-content;
    height: fit-content;
    
}