/* Please double-newline different classes to read/edit code better -Hussein*/
:root{
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --accent: #0d47a1;
    --accent-light: #90caf9;
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}


html{
    background-color: #212121;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;

}


.hidden{
    visibility: hidden;
}


.title-div{
    justify-content: center;
    color: #212121;
    background-color: var(--border);
    padding: 7px;
    padding-left: 13x;
    padding-right: 13px;
    margin-left: auto;
    margin-right: auto;   
    border: 1px var(--border);
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    animation-name: title-div-highlight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}


@keyframes title-div-highlight{
    0% {border: 0px solid rgb(149, 149, 149); transform: scale(1);}
    100% {border: 6px solid rgb(255, 255, 255); transform: scale(1.08);}
}


.quote{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: fit-content;
    height: fit-content;
}


.bar{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    /*Make color and background-color the same for the bar*/
    width: 475px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    transform-origin: bottom left;
    transform: scaleX(0);
    animation-name: bar-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
}


@keyframes bar-anim{
    0% {transform: scaleX(0);}
    50%{transform: scaleX(1.1);}
    100%{transform: scaleX(1);}
}


.about-us-text{
    font-size: 15px;
    padding-left: 90px;
}


.about-us-text-highlighted{
    padding: 2px;
    color: #000000;
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9;
    border-radius: 7px;
    width: fit-content;
    height: fit-content;
}


.about-us-image-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    width: auto;
    justify-content: right;
    justify-items: right;
}


.about-us-image{
    margin: -2px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    width: 150px;
    height: auto;
}