body{
    background-color: #212121;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;

}


.title {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    opacity: 0%;
    animation-name: title_dropdown;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes title_dropdown {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

.banner{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}


.login_button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.hidden{
    opacity: 0;
    visibility: hidden;
}


.teams-boxes{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
