/* Please double-newline different classes to read/edit code better -Hussein*/
:root{
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --accent: #0d47a1;
    --accent-light: #90caf9;
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}


html{
    background-color: #0c0c0c;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    background: linear-gradient(0deg, hsl(220, 50%, 6%) 0%, hsl(220, 60%, 2%) 100%)
}


.hidden{
    visibility: hidden;
}


.center-text{
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.fade-in{
    animation-name: fade-in-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


.section-text{
    animation-delay: 5s;
    opacity: 0;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    padding-right: 400px;
}


@keyframes fade-in-anim{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


.title-div{
    justify-content: center;
    color: hsl(16, 100%, 50%);
    background-color: #0c0c0c;
    padding: 7px;
    padding-left: 13x;
    padding-right: 13px;
    margin-left: auto;
    margin-right: auto;   
    border: 1px var(--border);
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    animation-name: title-div-highlight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}


@keyframes title-div-highlight{
    0% {border: 0px solid rgb(114, 114, 114); transform: scale(1);}
    100% {border: 6px solid rgb(177, 0, 0); background-color: hsl(220, 50%, 6%); transform: scale(1.08);}
}


.quote{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: fit-content;
    height: fit-content;
}


.bar{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 30px;
    /*Make color and background-color the same for the bar*/
    width: 475px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    transform-origin: bottom left;
    transform: scaleX(0);
    animation-name: bar-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
}


@keyframes bar-anim{
    0% {transform: scaleX(0);}
    50%{transform: scaleX(1.1);}
    100%{transform: scaleX(1);}
}


@keyframes about-us-text-anim{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.about-us-text{
    font-size: 15px;
    padding-left: 90px;
    opacity: 0;
    animation-name: about-us-text-anim;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.about-us-text-highlighted{
    padding: 2px;
    color: #000000;
    background-color: #b70000;
    border: 2px solid #b70000;
    border-radius: 7px;
    width: fit-content;
    height: fit-content;
}


.photo-collage1{
    display: inline-block;
    justify-content: right;
    align-content: right;
    padding-left: 200px;
}


.photo-collage-image1{
    /*width: 200px;
    height: 150px;*/
    width: 0px;
    height: 0px;
    transform-origin: bottom right;
    border: 6px solid #ffffff;
    border-radius: 20px;
    animation-name: photo-collage-images-anim;
    animation-duration: 2s;
    animation-delay: 6.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes photo-collage-images-anim{
    0% {width: 0px; height: 0px;}
    50%{width: 200px; height:0px;}
    100%{width: 200px; height: 150px;}
}