<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page not Found</title>
</head>
<body>
    <h2>404 - Page not Found</h2>
    <h3><a href="/">Go back to main page</a></h3>
</body>
</html>
<style>
    html{
        background-color: black;
        text-align: center;
        color: white;
    }
    h2{
        padding-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: #cdcdff
    }
</style>