<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You have been banned for 24 hrs</title>
</head>
<body>
    <h2>429 - Too Many Requests</h2>
    <h3>Limit: {{rqm}} requests per minute</h3>
    <h3>Your IP ({{ip}}) has any access to this site blocked for 24 hours.</h3>
</body>
</html>
<style>
    html{
        background-color: black;
        text-align: center;
        color: white;
    }
    h2{
        padding-bottom: 10px;
    }
</style>